@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  font-family: "Gotham";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 5rem;
  min-height: 10vh;
  background-color: #4765ff;
}

.logo {
  color: #f4ebe8;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 1rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: red; */
  width: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f4ebe8;
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1rem;
}

.burger {
  display: none;
  /* No Burger for Desktop View  */
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #f4ebe8;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  nav {
    padding: 0rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #4765ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* Transform will move the nav links off the screen and we will write JS to call them when burger is clicked */
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    /* Nav-link class will follow this transition (Animation) */
  }
  .nav-links li {
    opacity: 0;
    /* We will write JS to increase its opacity and add delay to give it animation effect */
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  /* We will add this class when burger is clicked  */
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .header-text {
  padding: 0rem 1rem;
}

main .header-text .header {
  width: 100%;
  font-size: 1.8rem;
  font-family: 'Gotham';
  color: #190933;
  line-height: 151%;
  position: relative;
  z-index: -1;
}

main .header-text .header span {
  font-size: 2rem;
}

main .header-text .header::after {
  content: "";
  position: absolute;
  width: 13rem;
  height: 10px;
  background: #A0B0FF;
  bottom: 5%;
  z-index: -1;
  left: 0%;
}

main .header-text p {
  padding: 1rem 0rem;
  line-height: 180%;
  width: 100%;
  font-family: 'Poppins';
  color: #727272;
}

main .btn-container {
  font-family: 'Poppins';
  padding: 0rem 1rem;
}

main .btn-container p {
  margin: 0rem 0rem 1rem 0rem;
}

main .btn-container #btn1 {
  all: unset;
  cursor: pointer;
  padding: 0.8rem 0rem;
  width: 100%;
  text-align: center;
  border-radius: 0.2rem;
  background: #4765ff;
}

main .btn-container #btn1 a {
  text-decoration: none;
  color: #f4ebe8;
  font-size: 1rem;
}

main .btn-container #btn2 {
  all: unset;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 0.8rem 0rem;
  border-radius: 0.2rem;
  background: transparent;
  border: 1px solid #4765ff;
}

main .btn-container #btn2 a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
}

main .image {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.assets {
  display: none;
}

@media (min-width: 768px) {
  .assets {
    display: block;
  }
  .assets .bars {
    position: absolute;
    top: 30%;
    left: -2%;
  }
  .assets .bottom-dots {
    position: absolute;
  }
  .assets .top-dots {
    position: absolute;
    top: 0vh;
    z-index: -1;
    right: 1rem;
  }
  .assets .bottom-rect {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 30%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
  main .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .header-text {
    padding: 0rem 0rem 0rem 7rem;
  }
  main .header-text .header {
    width: 100%;
    font-size: 3rem;
    font-family: 'Gotham';
    color: #190933;
    line-height: 151%;
    position: relative;
    z-index: -1;
  }
  main .header-text .header span {
    font-size: 3.2rem;
  }
  main .header-text .header::after {
    content: "";
    position: absolute;
    width: 13rem;
    height: 10px;
    background: #A0B0FF;
    bottom: 8%;
    z-index: -1;
    left: 0%;
  }
  main .header-text p {
    padding: 1rem 0rem;
    line-height: 180%;
    width: 100%;
    font-family: 'Poppins';
    color: #727272;
  }
  main .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0rem 7rem;
    font-family: 'Poppins';
  }
  main .btn-container p {
    margin: 0rem 3rem 0rem 0rem;
  }
  main .btn-container #btn1 {
    all: unset;
    cursor: pointer;
    padding: 0.8rem 1rem;
    width: 100%;
    text-align: center;
    border-radius: 0.2rem;
    background: #4765ff;
  }
  main .btn-container #btn1 a {
    text-decoration: none;
    color: #f4ebe8;
    font-size: 1rem;
  }
  main .btn-container #btn2 {
    all: unset;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding: 0.8rem 1rem;
    border-radius: 0.2rem;
    background: transparent;
    border: 1px solid #4765ff;
  }
  main .btn-container #btn2 a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
  }
  main .image {
    width: 40%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  main .image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -2;
  }
}
/*# sourceMappingURL=style.css.map */